.projects {
  background: $secondary-light-color;

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px 0;

    .project {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: $primary-light-color;
      border: $border-color solid 1px;
      border-radius: $project-border-radius;

      &:nth-child(even) img {
        background: $secondary-light-color;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      }

      &:nth-child(odd) img {
        background: $secondary-light-color;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      }

      &-text {
        padding: 1.625rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 1rem;
      }

      &-button {
        height: 100%;
      }

      &-button a {
        margin-top: auto;
      }

      &-img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }

      &-tools {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        font-size: 0.875rem;
        gap: 10px;

        span {
          padding: 0.125rem 1rem;
          display: inline-block;
          background-color: $accent-highlight-color;
          border-radius: $project-tool-radius;
          line-height: 1.25rem;
          color: $primary-accent-color;
        }
      }

      &-button-container {
        display: flex;
        height: 100%;

        a {
          margin-top: auto;
        }
      }
    }
  }
}
