@import url("https://fonts.googleapis.com/css?family=Open-Sans");
@import url("https://use.typekit.net/uwv8jaw.css");

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    line-height: 1.4;
    background-color: #222831;
}

footer {
    padding-bottom: 60px;
}

a, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar { /* hide the scrollbar in Chrome */
    display: none;
}

::selection {
    background: rgba(240, 84, 84, 0.5);
}

/* Splash Landing */

.header-gradient {
    width: 100%;
    height: 50vh;
    bottom: 0;
    float: left;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.landing {
    width: 100%;
    height: 100vh;
}

.landing-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-image: url("../images/bg.jpg"); */
    background-size: cover;
    background-position-y: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #222831; /* if background is not available */
    /* background-color: #f05454; */
}

.link {
    color: #f05454;
}

.link:hover {
    color: #ff9292;
}

/* Navigation Bar */

.header-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;
    padding: 50px;
    padding-right: 70px;
}

.header-links a {
    color: #fff;
    opacity: 0.7;
    font-weight: bold;
    transition: opacity 200ms ease-in-out;
}

.header-links :not(:last-child) {
    margin-right: 100px;
}

.header-links a:hover {
    opacity: 1;
}

/* Header Title */

.header-center {
    position: absolute;
    width: 80vw;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    font-family: "Open Sans";
    color: white;
    font-size: 200px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.header-icons {
    text-align: center;
}

.header-icons a {
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
}

.header-icons :not(:last-child) {
    margin-right: 100px;
}

.header-icons a:hover {
    opacity: 1;
}

.location-tag {
    position: absolute;
    /* position: fixed; */
    z-index: 10;
    margin: 30px;
    bottom: 0vh;
    color: white;
    opacity: 0.7;
}

.fa-map-marker-alt {
    fill: white;
    margin-right: 15px;
}

/* Text Areas */

.wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.wrap-wide {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.wrap-text {
    background-color: white;
    max-width: 860px;
    text-align: justify;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.main-section {
    /* background-color: white; */
    /* background-color: #DDD; */
    background-repeat: repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-section .wrap-text {
    z-index: 10;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    margin-right: 10% auto;
    margin-left: 10% auto;
}

.main-section .section {
    margin-bottom: 40px;
}

.main-section .projects {
    margin-bottom: 0px;
}

.section .container {
    padding: 20px;
}

.skill-img {
    width: 70px;
    height: 70px;
}

.section .skill-img:not(:last-of-type) {
    margin-right: 40px;
}

.projects .container {
    text-align: center;
}

.button {
    color: #fff;
    /* color: white; */
    background-color: #f05454;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 16px 32px;
    align-self: center;
    display: inline-block;
    transition: 200ms ease-in-out;
}

.projects .button {
    margin-top: 10px;
}

.projects .button:hover, .projects .repo-button:hover {
    transform: translate(0, -5px);
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.bg-svg {
    position: absolute;
    z-index: 0;
    top: 100vh;
    /* box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4); */
}

.svg {
    border: none;
}

.contact {
    background-color: #222831;
}

.projects img {
    height: 200px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.projects .list-item {
    width: 100%;
    min-height: 200px;
}

.projects .list-desc {
    width: 100%-200px;
    overflow: auto;
    min-height: 160px;
    padding: 20px 20px 0 20px;
    margin-left: 200px;
}

.projects .project-list .project:not(:last-child) {
    margin-bottom: 30px;
}

.projects h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

ul.tag-list {
    padding: 0;
}

ul.tag-list li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 15px;
    margin-bottom: 10px;
    background-color: #ffe0e0;
    color: #f05454;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    border-radius: 2em;
    overflow: hidden;
}

ul.tag-list li:not(:last-of-type) {
    margin-right: 15px;
}

.projects p {
    font-size: 15px;
    text-align: left;
}

.repo-button {
    display: inline-block;
    color: #fff;
    background-color: #f05454;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 15px;
    transition: 200ms ease-in-out;
}

.email-header {
    display: block;
    color: #fff;
    font-size: 32px;
    margin: 40px 0;
    font-weight: bold;
    text-align: center;
    transition: 200ms ease-in-out;
}

.email-header:hover {
    transform: translate(0, -5px);
}