@import url("https://fonts.googleapis.com/css?family=Open-Sans");
@import url("https://use.typekit.net/uwv8jaw.css");

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding-bottom: 50vh;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    line-height: 1.3;
    background-color: #222831;
}

a, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar { /* hide the scrollbar in Chrome */
    display: none;
}

/* Splash Landing */

.header-gradient {
    width: 100%;
    height: 50vh;
    bottom: 0;
    float: left;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.landing {
    width: 100%;
    height: 100vh;
}

.landing-bg {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position-y: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    background-color: #222831; /* if background is not available */
    background-color: #f05454;
}

/* Navigation Bar */

.header-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;
    padding: 50px;
    padding-right: 70px;
}

.header-links a {
    color: #fff;
    opacity: 0.7;
    font-weight: bold;
    transition: opacity 200ms ease-in-out;
}

.header-links :not(:last-child) {
    margin-right: 100px;
}

.header-links a:hover {
    opacity: 1;
}

/* Header Title */

.header-center {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    font-family: "Oraqle Script";
    color: white;
    font-size: 200px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.header-icons {
    text-align: center;
}

.header-icons a {
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
}

.header-icons :not(:last-child) {
    margin-right: 100px;
}

.header-icons a:hover {
    opacity: 1;
}

/* Text Areas */

.wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.wrap-wide {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.wrap-text {
    background-color: white;
    max-width: 860px;
    text-align: justify;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.main-section {
    /* background-color: white; */
    /* background-color: #DDD; */
    background-repeat: repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-section .wrap-text {
    z-index: 10;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
}

.main-section .section {
    margin-bottom: 40px;
}

.main-section .projects {
    margin-bottom: 0px;
}

.skills .container {
    padding: 20px;
}

.skill-img {
    width: 70px;
    height: 70px;
}

.skills .skill-img:not(:last-of-type) {
    margin-right: 40px;
}

.projects .container {
    text-align: center;
}

.button {
    color: #222831;
    /* color: white; */
    background-color: #f05454;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 16px 32px;
    align-self: center;
    display: inline-block;
}

.projects .button {
    margin-top: 10px;
    transition: 200ms ease-in-out;
}

.projects .button:hover {
    transform: translate(0, -5px);
    opacity: 0.9;
}

.bg-svg {
    position: absolute;
    z-index: 0;
    top: 100vh;
    /* box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4); */
}

.svg {
    border: none;
}

.contact {
    background-color: #222831;
}
