@import "variables";

p:not(:last-of-type) {
    margin-bottom: $spacing-small;
} 

.title {
    padding-bottom: $spacing-smaller;
}

.date {
    margin-bottom: 16px;
    svg {
        margin-right: $spacing-small;
    }
}

.container .img-container {
    align-self: center;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 32px;
}

.goals-list {
    li {
        &::marker {
            font-size: $h3-font-size;
            font-weight: 800;
            font-family: $heading-font;
        }
        &:not(:last-child) {
            padding-bottom: $spacing-regular;
        }
    }
}

.list-img {
    max-width: 250px;
}

#tulip-logo, #wave-logo {
    max-width: 300px;
    padding: $spacing-regular 0;
    object-fit: contain;
}
